@{
    ViewData["Title"] = "Home Page";
}
@{
    string correo = ViewContext.HttpContext.Session.GetString("LogueadoCorreo");
}
<div class="text-center">
    <h1 class="display-4">Papeleria</h1>
    @if (Context.Session.GetString("LogueadoCorreo") != null)
    {
        <p>Iniciaste Session @correo  </p>

        @ViewContext.HttpContext.Session.GetString("LogueadoCorreo")

    }
    else
    {
        <p>Inicia Sesiòn para continuar </p>
    }
    
</div>
                                  