
@{
    ViewData["Title"] = "ClientesCuyoPedidoSupereMonto";
}

<h1>Clientes Cuyo Pedido Supere Monto</h1>

<h4>Pedido</h4>
<hr />
<form method="post">
    <div class="form-group">
        <label for="monto">Email address</label>
        <input type="number" name="monto" class="form-control" id="monto" placeholder="Ingrese monto">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar monto</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
